/** @format */

@import "../../../sass/utilities/variable.scss";

.categories {
	header {
		background-color: $purple;
		padding: 10px 25px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		.title {
			color: $white;
			font-weight: bolder;
			font-size: 1.2rem;
			text-decoration: underline;
			text-decoration-color: $purple;
			padding-right: 5px;
		}
		.navB {
			text-decoration: underline;
			border: 1px solid $white;
			padding: 5px 10px;
		}
	}
	.genreTableSection {
    padding: 25px;
    background-color: $white;
		.categoriesTable {
			width: 100%;

      padding: 15px;

			tbody {
				tr {
					text-align: center;
					td {
						border-bottom: 2px solid $gray;
						padding: 10px 0;
            .actionButton{
              display: flex;
              justify-content: space-evenly;
              *{
                min-width: 20px;
              }
            }
					}
				}
			}
		}
	}
}
